/*
 * Created by Trevor Sears <trevor@trevorsears.com> (https://trevorsears.com/).
 * 3:20 PM -- March 12th, 2022
 * Project: trevorsears.com
 */

.command-palette {
	
	width: 100%;
	
	input {
		
		width: 100%;
		border: none;
		border-radius: 0;
		
	}
	
}
