/*
 * Created by Trevor Sears <trevor@trevorsears.com> (https://trevorsears.com/).
 * 3:23 PM -- March 12, 2022.
 * Project: trevorsears.com
 */

@import "../../../assets/styles/variables";

header {
	
	@include expandToMaxWidth();
	
	nav {
		
		display: flex;
		justify-content: flex-end;
		
		a {
			
			font-family: "Fira Code", monospace;
			text-decoration: none;
			transition: 100ms color ease-out;
			
			&:hover {
				
				color: var(--color-hi);
				
			}
			
		}
		
		& > .nav-item {
			
			
			
		}
		
	}
	
}
