/*
 * Created by Trevor Sears <trevor@trevorsears.com> (https://trevorsears.com/).
 * 3:46 PM -- March 15, 2022.
 * Project: trevorsears.com
 */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Roboto&display=swap');

* {
	
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	
}

html, body, #react-root {
	
	height: 100%;
	width: 100%;
	
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	
	background-color: var(--color-bg);
	
}

#react-root {
	
	display: flex;
	flex-direction: column;
	
}

h1, h2, h3, h4, h5, h6 {
	
	font-family: "Roboto", sans-serif;
	
}

p, li, a {
	
	font-family: "Nunito Sans", sans-serif;
	
}

pre, code {
	
	font-family: "Fira Code", monospace;
	
}

.highlight {
	
	color: var(--color-hi);
	
}

h1 {
	
	font-size: 4.5rem;
	
}

h2 {
	
	font-size: 3.5rem;
	
}

h3 {
	
	font-size: 2.5rem;
	
}

h4 {
	
	font-size: 2rem;
	
}

h5, p {
	
	font-size: 1rem;
	
}

h6 {
	
	font-size: 0.75rem;
	
}
