/*
 * Created by Trevor Sears <trevor@trevorsears.com> (https://trevorsears.com/).
 * 3:46 PM -- March 15, 2022.
 * Project: trevorsears.com
 */

$pageWidth: 1200px;

$backgroundColor: #29335C;
$foregroundColor: #F6E8EA;
$highlightColor:  #E4572E;

:root {
	
	--page-width: #{$pageWidth};
	--color-bg: #{$backgroundColor};
	--color-fg: #{$foregroundColor};
	--color-hi: #{$highlightColor};
	
}

@mixin expandToMaxWidth($maxWidth: $pageWidth) {
	
	width: 100%;
	
	@if ($maxWidth == $pageWidth) {
		
		max-width: var(--page-width);
		
	} @else {
		
		max-width: $maxWidth;
		
	}
	
}

@mixin scale-fix {
	
	backface-visibility: hidden;
	transform: perspective(1px) translateZ(0);
	-webkit-font-smoothing: subpixel-antialiased;
	
}
